
<h1>Weekly Plan</h1>
<br>


<ul>
 {{#each plans}}
 <li>
   <!-- Make data for Title & Descr available -->
   {{this.title}}
   {{this.description}}


   <!-- Days incl. exercises -->
   <table>
     {{#each this.selectedExercises}} <!-- Just renders all selected exercises, not by day -->
     <tr>
       <!-- TODO: define day property -->
       <td>{{this.day}}</td>
     </tr>
     <tr>
       <td> {{this.name}} </td>
     </tr>
     <tr>
       <td> <button type="submit">Delete plan</button> </td>
     </tr>
     {{/each}}
   </table>


 </li>
 {{/each}}
</ul>


<a href="/plan/exercise-planner/create">
 <button>Create new plan</button>
</a>




<!-- Check plan.routes for info on {{days}} etc -->
