<section style="padding: 3%">

<h1>My weekly plans</h1>
<br>


{{#each plans}}
<br>
<!-- Make data for Title & Descr available -->
{{this.title}}
{{this.description}}


<!-- Days incl. exercises -->
<table class="table">
  <!-- TODO: Needs to be ONE selected exercise, not the whole object -->
  {{#each this.selectedExercises}}
  <thead>
    <tr>
      <!-- TODO: Make sure day property is defined -->
      <th scope="col">{{this.day}}</th>
    </tr>
  </thead>

  </tr>
  <tr>
    <!-- previously: this.name -->
    <td> {{this.exercise.name}} </td>
  </tr>
  <tr>
    <td> <button type="submit">Delete plan</button> </td>
  </tr>
  {{/each}}

</table>
<br>
{{/each}}


<a href="/plan/exercise-planner/create">
  <button>Create new plan</button>
</a>


</section>



<!-- Check plan.routes for info on {{days}} etc -->
