<h1>Weekly Plan</h1>
<br>

<ul>
  {{#each plans}}
  <li>
    <!-- Make data for Title & Descr available -->
    {{this.title}}
    {{this.description}}

    <!-- Days incl. exercises -->
    <table>

        <tr>
          <td>Monday</td>
          <td>
            {{this.monday.exercise.name}}
          </td>
        </tr>

        <tr>
          <td>Monday</td>
          <td>
            {{this.monday.exercise.name}}
          </td>
        </tr>
        
        <tr>
          <td>Monday</td>
          <td>
            {{this.monday.exercise.name}}
          </td>
        </tr>

        <tr>
          <td>Monday</td>
          <td>
            {{this.monday.exercise.name}}
          </td>
        </tr>

        <tr>
          <td>Monday</td>
          <td>
            {{this.monday.exercise.name}}
          </td>
        </tr>

        <tr>
          <td>Monday</td>
          <td>
            {{this.monday.exercise.name}}
          </td>
        </tr>
        
        <tr>
          <td>Monday</td>
          <td>
            {{this.monday.exercise.name}}
          </td>
        </tr>

    </table>


  </li>
  {{/each}}
</ul>

<a href="new-plan-form.hbs">
  <button>Create new plan</button>
</a>


<!-- Check plan.routes for info on {{days}} etc -->


