
<h1>Select one or more exercises</h1>
    <form method=GET action="exercise-planner">
        <button type="submit">Continue to Weekly Plan</button>
    </form>
{{#if exercises}}
<ul>
    {{#each exercises}}
    <li>
        Name: {{this.name}} <br>
        Level: {{this.level}} <br>
        Primary Muscles: {{this.primaryMuscles}} <br>
        Secondary Muscles: {{this.secondaryMuscles}} <br>
        Equipment: {{this.equipment}} <br>
        Category: {{this.category}} <br>
    </li>
    <select>Add to your Weekly Plan
            <option value={{this._id}}></option>
            <option value={{this._id}}>Monday</option>
            <option value={{this._id}}>Tuesday</option>
            <option value={{this._id}}>Wednesday</option>
            <option value={{this._id}}>Thursday</option>
            <option value={{this._id}}>Friday</option>
            <option value={{this._id}}>Saturday</option>
            <option value={{this._id}}>Sunday</option>
    </select>
    {{/each}}
    
</ul>
{{else}}
<p> Error: No exercises found. </p>
{{/if}}



<!-- To do in MVP2: Modal for exercise details -->
<!-- Boostrap: <div class modal...> -->