<section style="padding: 3%">

<h1>My weekly plans</h1>
<br>


{{#each plans}}
<div class="bg-light mt-4 mb-4 p-4">
<br>
<!-- Make data for Title & Descr available -->
{{this.title}}
{{this.description}}

<!-- Days incl. exercises -->
<table class="table">
  <!-- TODO: Needs to be ONE selected exercise, not the whole object -->
  {{#each this.selectedExercises}}
  <thead>
    <tr>
      <!-- TODO: Make sure day property is defined -->
      <th scope="col">{{this.day}}</th>
    </tr>
  </thead>

  <tr>
    <!-- previously: this.name -->
    <td> {{this.exercise.name}} </td>
  </tr>
  {{/each}}
</table>

<form method="POST" action="/plan/exercise-planner/delete/{{this._id}}">
  <button type="submit" class="btn btn-danger">Delete plan</button>
</form>
<br>
</div>
{{/each}}


<a href="/plan/exercise-planner/create">
  <button class="btn btn-secondary mt-4">Create new plan</button>
</a>


</section>



<!-- Check plan.routes for info on {{days}} etc -->
