<section style="padding: 3%">

<h1>My weekly plans</h1>
<br>


{{#each plans}}
<div class="bg-light mt-4 mb-4 p-4">
<br>
<!-- Make data for Title & Descr available -->
<div class="pb-4">
<h3>{{this.title}}</h3>
{{this.description}}
</div>

<!-- Days incl. exercises -->
<table class="table">
  {{#each this.selectedExercises}}
  <thead>
    <tr>
      <th scope="col"><h5> {{this.day}} </h5></th>
    </tr>
  </thead>

  <tr>
    <td> 
    <div class="mb-1 mt-1"><h6>{{this.exercise.name}}</h6>
    <div class="text-secondary mb-1 mt-1">Force: {{this.exercise.force}} </div>
    <div class="text-secondary mb-1 mt-1">Level: {{this.exercise.level}} </div>
    <div class="text-secondary mb-1 mt-1">primary muscles used: {{this.exercise.primaryMuscles}} </div>
    <div class="text-secondary mb-1 mt-1">secondary muscles used: {{this.exercise.secondaryMuscles}} </div>
    <div class="text-secondary mb-1 mt-1">mechanic: {{this.exercise.mechanic}} </div>
    <div class="text-secondary mb-1 mt-1">equipment: {{this.exercise.equipment}} </div>
    <div class="text-secondary mb-1 mt-1">category: {{this.exercise.category}} </div>
    </td>
  </tr>
  {{/each}}
</table>

<form method="POST" action="/plan/exercise-planner/delete/{{this._id}}">
  <button type="submit" class="btn btn-danger">Delete plan</button>
</form>
<br>
</div>
{{/each}}

<!-- "Create new plan" button -->
<a href="/plan/exercise-planner/create">
  <button class="btn btn-secondary mt-4">Create new plan</button>
</a>


</section>



<!-- Check plan.routes for info on {{days}} etc -->
